/* This defines the style for the landing page of the website :
    homepage.html
*/
body {
    /* This is just for background stuff*/
    background-color: #494949;
    background-image: url('pictures/marvel_logo.jpg'), url('pictures/marvel_characters_hires.png');
    background-attachment: scroll, scroll;
    background-repeat: no-repeat, no-repeat;
    background-size: 10% 10%, 45% 45%;
    background-position-x: center, center; 
    background-position-y: 330px, 60px;
}

h1 { /* "Search Results" at top of page */
    font-size: 75px;
    color: white;
    position: relative;
    top: -45px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: underline;
}

.container { /* Contains the query, results header, and results table */
    top: 215px;
    margin: 25px, 25px;
    text-align: left;
    color: white;
    position: relative;
}

p1 { /* Query */
    font-size: 12px;
    text-align: center;
}

table { /* Table-wide stylings */
    margin-left: auto;
    margin-right: auto;
    border-collapse: seperate;
    border-spacing: 50px 0;
    text-align: left;
}

th { /* Format for all table headers */
    width: 100px;
    text-decoration: underline;
}

td { /* Format for all table data */
    width: 100px;
    font-size: 12px;
    border: 1px solid #999;
}


