/* This defines the style for the landing page of the website :
    homepage.html
*/
body {
    /* This is just for background stuff*/
    background-color: #494949;
    background-image: url('pictures/marvel_logo.jpg'), url('pictures/marvel_characters_hires.png');
    background-attachment: fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-size: 10% 10%, 45% 45%;
    background-position-x: center, center; 
    background-position-y: 330px, 60px;
}

h1 {
    font-size: 75px;
    color: white;
    position: relative;
    top: -45px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: underline;

 }
 h2 {
     color: white;
     font-size: 18px;
     text-align: center;
     position: relative;
     top: 215px;
 }
 h3{
    /*
     color: white;
     font-size: 18px;
     text-align: center;
     position: relative;
     top: 250px;
    */

     color: white;
     font-size: 18px;
     text-align: center;
     position: relative;
     top: 215px;
 }
 