/* This defines the style for the landing page of the website :
    homepage.html
*/
body {
    /* This is just for background stuff*/
    background-color: rgb(231, 0, 0);
    background-image: url('pictures/marvel_logo.jpg'), url('pictures/marvel_characters_hires.png');
    background-attachment: fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-size: 10% 10%, 45% 45%;
    background-position-x: center, center; 
    background-position-y: 320px, 50px;
} 
head {
    color: white;
}
h1 {
    font-size: 75px;
    color: white;
    position: relative;
    top: -45px;
    text-align: center;
 }
 h2 {
     color: yellow;
     font-size: 24px;
     text-align: center;
     position: relative;
     top: 250px;
 }

 